/*
Google Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&family=Dancing+Script&display=swap');


body {
  background-color: #f8f9fa;
}

.mainBG{
  background-image: url('/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container{
  margin-top: 100px !important;
}

.greetingBg{
  background-color: #FEB801;
  /* background-image: url('/bg2.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
}

.greetContainer {
background: transparent;
}

h1 {
  color: #007bff;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

/* For the animated text */
.animated-text {
  animation: fadeInUp 1.5s ease-in-out;
  -webkit-animation: fadeInUp 1.5s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
}
  100% {
    transform: translateY(0);
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
}

#nameSearch{
  padding: 30px;
  color: #fb09f3;
  font-weight: 400;
  font-size: 20px;
  font-style: italic;
  background:rgb(248, 249, 250, 0.5);

  }

#nameSearch::placeholder{
  color: #fb09f3;
  font-style: italic;
  font-size: 20px;
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* For screens smaller than 768px (tablets and mobiles) */
@media (max-width: 768px) {
  .mainContainer {
    max-width: 100%; /* Expand to full width */
    padding: 10px; /* Reduce padding */
  }
}